{% load static %}

<!--  BEGIN NAVBAR  -->

<!--  END NAVBAR  -->


<!--  BEGIN SIDEBAR  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="cs-overlay"></div>


    <div class="sidebar-wrapper sidebar-theme">

        <div id="dismiss" class="d-lg-none"><i class="flaticon-cancel-12"></i></div>

        <nav id="sidebar">

            <ul class="navbar-nav theme-brand flex-row  d-none d-lg-flex">
                <li class="nav-item d-flex">
                    <a href="index.html" class="navbar-brand">
                        <img src="{% static 'assets/img/logo-3.png' %}" class="img-fluid" alt="logo">
                    </a>
                    <p class="border-underline"></p>
                </li>
                <li class="nav-item theme-text">
                    <a href="index.html" class="nav-link">{{name}}</a>
                </li>
            </ul>


            <ul class="list-unstyled menu-categories" id="accordionExample">
                <li class="menu">
                    <!-- <a href="#dashboard" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-computer-6 ml-3"></i>
                            <span>Dashboard</span>
                        </div>

                        <div>
                            <span class="badge badge-pill badge-secondary mr-2">7</span>
                        </div>
                    </a> -->

                </li>
                <!-- <li class="menu">
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-cart-2"></i>
                            <span>Categories</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a href="ecommerce_dashboard.html"> Dashboard </a>
                        </li>
                        <li>
                            <a href="ecommerce_orders.html"> Orders </a>
                        </li>
                        <li>
                            <a href="ecommerce_product.html"> Products </a>
                        </li>
                        <li>
                            <a href="ecommerce_product_catalog.html"> Product Catalog </a>
                        </li>
                        <li>
                            <a href="#product-details" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle" data-parent="#ecommerce"> Product Details <i
                                    class="flaticon-right-arrow"></i> </a>
                            <ul class="collapse list-unstyled sub-submenu" id="product-details">
                                <li>
                                    <a href="ecommerce_product_details_1.html"> Product Details 1 </a>
                                </li>
                                <li>
                                    <a href="ecommerce_product_details_2.html"> Product Details 2 </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="ecommerce_addedit_product.html"> Add/Edit Products </a>
                        </li>
                        <li>
                            <a href="ecommerce_addedit_categories.html"> Add/Edit Categories </a>
                        </li>
                        <li>
                            <a href="ecommerce_view_cart.html"> View Cart </a>
                        </li>
                        <li>
                            <a href="ecommerce_view_payments.html"> View Payments </a>
                        </li>
                        <li>
                            <a href="ecommerce_view_customers.html"> View Customers </a>
                        </li>
                        <li>
                            <a href="ecommerce_checkout.html"> Checkout </a>
                        </li>
                        <li>
                            <a href="ecommerce_invoices.html"> Invoice </a>
                        </li>
                        <li>
                            <a href="ecommerce_shipments.html"> Shipments </a>
                        </li>
                        <li>
                            <a href="ecommerce_products_cart.html"> Products in Cart </a>
                        </li>
                        <li>
                            <a href="ecommerce_coupons.html"> Coupons </a>
                        </li>
                        <li>
                            <a href="ecommerce_low_stock.html"> Low Stock </a>
                        </li>
                        <li>
                            <a href="ecommerce_best_sellers.html"> Best Sellers </a>
                        </li>
                        <li>
                            <a href="ecommerce_refunds.html"> Refunds </a>
                        </li>
                        <li>
                            <a href="ecommerce_search_terms.html"> Search Terms </a>
                        </li>
                        <li>
                            <a href="ecommerce_newsletters.html"> Newsletters </a>
                        </li>
                        <li>
                            <a href="ecommerce_wizards.html"> Payment Wizard </a>
                        </li>
                        <li>
                            <a href="ecommerce_reviews.html"> Reviews </a>
                        </li>
                    </ul>
                </li> -->

                <!-- <li class="menu">
                    <a href="{% url 'adminHomee' %}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-user-group"></i>
                            <span>Dashboard</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    
                </li> -->
                <!-- <li class="menu">
                    <a href="{% url 'adminUsersList' %}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-user-group"></i>
                            <span>Users</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    
                </li> -->
                <!-- <li class="menu">
                    <a href="{% url 'adminCategories' %}"  class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-user-group"></i>
                            <span>Categories</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    
                </li> -->

                <!-- <li class="menu">
                    <a href="{% url 'adminProducts' %}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-user-group"></i>
                            <span>Products</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a> -->
                    <!-- <ul class="collapse submenu list-unstyled" id="users" data-parent="#accordionExample">
                        <li>
                            <a href="user_profile.html"> Profile </a>
                        </li>
                        <li>
                            <a href="{% url 'adminUsersList' %}"> Users List </a>
                        </li>
                    </ul> -->
                <!-- </li> -->
                <!-- <li class="menu">
                    <a href="{% url 'adminOrders' %}"  class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-user-group"></i>
                            <span>Orders</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                </li> -->
                <!-- <li class="menu">
                    <a href="{% url 'adminLogout' %}"  class="dropdown-toggle">
                        <div class="">
                            <i class="flaticon-user-group"></i>
                            <span>Logout</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                </li> -->




                <li class="menu">
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" name="dashboard">
                        <div class="">
                            <i class="flaticon-cart-2"></i>
                            <span>Dashboard</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a href="{% url 'adminHomee' %}"> Dashboard </a>
                        </li>
                        <li>
                            <a href="{% url 'salesReport' %}"> Sales Report </a>
                        </li>
                    </ul>
                </li>

                <li class="menu">
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" name="users">
                        <div class="">
                            <i class="flaticon-cart-2"></i>
                            <span>Users</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a href="{% url 'adminUsersList' %}"> Users List </a>
                        </li>
                    </ul>
                </li>

                <li class="menu">
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" name="category">
                        <div class="">
                            <i class="flaticon-cart-2"></i>
                            <span>Categories</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a href="{% url 'adminCategories' %}"> Categories List </a>
                        </li>
                    </ul>
                </li>

                <li class="menu">
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" name="product">
                        <div class="">
                            <i class="flaticon-cart-2"></i>
                            <span>Products</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a href="{% url 'adminProducts' %}"> Products List </a>
                        </li>
                    </ul>
                </li>

                <li class="menu">
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" name="order">
                        <div class="">
                            <i class="flaticon-cart-2"></i>
                            <span>Orders</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a href="{% url 'adminOrders' %}"> Orders List </a>
                        </li>
                    </ul>
                </li>
                <li class="menu">
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" name="order">
                        <div class="">
                            <i class="flaticon-cart-2"></i>
                            <span>Offers</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a href="{% url 'productOffer' %}">Product Offers </a>
                        </li>
                        <li>
                            <a href="{% url 'categoryOffer' %}"> Category Offers </a>
                        </li>
                        <li>
                            <a href="{% url 'adminCoupons' %}">Coupons </a>
                        </li>
                    </ul>
                </li>

                <li class="menu">
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" name="logout">
                        <div class="">
                            <i class="flaticon-cart-2"></i>
                            <span>Logout</span>
                        </div>
                        <div>
                            <i class="flaticon-right-arrow"></i>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                        <li>
                            <a href="{% url 'adminLogout' %}"> Logout</a>
                        </li>
                    </ul>
                </li>
        </nav>

    </div>