{% extends 'adminBase.html' %}
{% load static %}
{% block content %}

<!-- <h1>Products</h1> -->

<div id="content" class="main-content">
  <div class="container">
    <div class="page-header">
      <div class="page-title">
        <h2>Products</h2>
      </div>

    </div>
    <div>
      <a href="{% url 'addProduct' %}">
        <button type="button" class="btn btn-secondary mb-3 ">Add Product</button>
      </a>
    </div>
    <table class="table table-hover" id='zero-config'>
      <thead>
        <tr>
          <th scope="col">No </th>
          <th scope="col">Product</th>
          <th scope="col">Category</th>
          <th scope="col">Image</th>
          <th scope="col">Qty</th>
          <!-- <th scope="col">Original Price</th> -->
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for pdt in product %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{pdt.product_name}}</td>
          <td>{{pdt.category}}</td>
          <!-- <td>{{pdt.product_image}}</td> -->
          {% if pdt.product_image %}
          <td>
            <img src="{{ pdt.product_image.url }}" alt="" style="width:60px;height:60px;">
          </td>
          {% endif %}
          <td>{{pdt.quantity}}</td>
          <!-- <td>{{pdt.orignal_price}}</td> -->
          <td>{{pdt.orignal_price}}</td>
          <td>
            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{user.id}}">
              <a href="{% url 'deleteProduct' pdt.id %}" class="btn btn-danger">Delete</a>
              <a href="{% url 'editProduct' pdt.id %}" class="btn btn-primary">Edit</a>
              <!-- <button type="button" class="btn btn-primary"></button> -->
            </form>
          </td>
        </tr>
        {% endfor%}

      </tbody>
    </table>
  </div>
</div>




<script src="{% static '/assets/js/libs/jquery-3.1.1.min.js' %}"></script>
<script src="{% static '/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static '/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static '/assets/js/app.js' %}"></script>


<script>
  $(document).ready(function () {
    App.init();
  });
</script>
<script src="{% static '/assets/js/custom.js' %}"></script>
<!-- END GLOBAL MANDATORY STYLES -->



<script src="{% static '/plugins/table/datatable/datatables.js' %}"></script>
<script>
  $('#zero-config').DataTable({
    "language": {
        "paginate": { "previous": "<i class='flaticon-arrow-left-1'></i>", "next": "<i class='flaticon-arrow-right'></i>" },
        "info": "Showing page _PAGE_ of _PAGES_"
    }
});
</script>
{% endblock %}